/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #262626;
}

/* Add styles for dark mode */
body.dark-mode {
    background-color: #121212;
    color: #fafafa;
}